body{
	font-family: open sans;
}
header{
	box-shadow: 1px 1px #888888;
	position: absolute;
	z-index: 200;
	max-height: 80px;
	background: #fff;
	opacity: 1;
	border-bottom: 2px solid #6699cc;
	top:0;
	background: transparent;
}
.AssetContainer{
	position: absolute;
	width: 100%;
	bottom: 0;
}
.logo{
	max-width: 150px;
	float: left;
}
.menu{
	min-height: 80px;

}
.justify {
    text-align:justify;
    text-justify:inter-word;
}
.menu ul{
	list-style-type:none;
	float: right;
	height: 60px;
}
.navbar-nav {
    float: right;
    right: 0;
    position: absolute;
    top: 0px;
}
.navbar-toggler{
	right:0;
}
.nav-content{
	float: right;
}    
.nav-item a.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    font-size: 16px;
	height: 40px;
	font-family: Questrial;
	margin-top: 50px;
	min-width: 60px;
	padding: 0 20px;
	color: #6699cc !important;
}
nav .nav-item{
	float: left;
	
}
.menu ul li.first{
	border: none;
}
.menu ul li a{
	color: #6699cc;
	padding:5px 5px;
	display: block;
}
.video{
	width: 100%;
	padding: 0;
	height: auto;
}
.video-container{
	padding: 0;
	position: relative;
	max-height: 800px;
	overflow: hidden;
}
#blueSection{
	background: #1c2e3b;
}
#blueSection h4{

}
#section2{
	background-image: url("/img/front2.jpg");
}
h4.white-text{
	margin: 70px auto;
	font-size: 22px;
	font-weight: 400;
	color: white;
    text-align:justify;
    padding: 5px 20px;
    text-justify:inter-word;
    text-align-last: center;
}
h4.blue-text{
	font-size: 25px;
	font-weight: 400;
	color: #38546d;
    text-align:justify;
    text-justify:inter-word;
    text-align-last: center;
	margin: 0 auto 100px;
	padding: 5px 20px
}
a.btn-more{
	background:#1c2e3b;
	text-align: center;
	color: #88b1cb !important;
	max-width: 80px;
    margin: 0 auto;
    display: block;
}
#section1{
	background-image: url("/img/_84I1238.jpg");
}
.sectionFront{
	background-repeat: no-repeat;
	padding: 40px 5px;
	background-size: 120%;
	max-height: 850px;
}
#section3{
	background-image: url("/img/front3.jpg");
}
.title{
    font-size: 75px;
    position: absolute;
    right: 8.333%;
    bottom: 0px;
    color: #466789;
    font-weight: bold;
}
.movieBtn{	
	padding: 10px 50px;
	background-image: url("/img/arrowBtn.png");
	background-repeat: no-repeat;
	background-position: 170 center;
	background-color: #88b1cb;
	text-align: center;
    color: #fff;
    margin: 0 auto;
    display: block;
    font-weight: bold;
    width: 200px;
}
.movieBtn:hover{
	color: #fff;
}
.text{
	margin-top: 40px;
	padding: 20px;
	background: #b9bcbe;
	opacity: 0.8;
	margin-bottom: 100px;
	z-index: 2;
}
.line{
	height: 130px;
	border-bottom: 1px solid #000; 
}
.text h5{
	font-size: 48px;
	font-family: verdana;
}
.text p{
	font-size: 18px;
	font-weight: 500;
	font-family: verdana;
}
.image img{
	width: 100%;
}
.assets{
	top: 40%;
	position: absolute;
    width: 100%;
    z-index: 100;
}
video{
	top:80px;
	display: block;
}
.trans-container{
	background: #f5f5f5;
	opacity: 0.8;
}
div.first{
	background: #cbccce;
}
div.second{
	background: #73b0c2;
}
div.third{
	background: #cbccce;
}
.trans-container p{
	color: #231f20;
	font-size: 17px;
	font-weight: 400;
	opacity: 1!important;
	padding: 20px;
	font-family: Work Sans;
}
.blue-right{
	font-size: 120px;
	position: absolute;
	right: 8.333%;
	bottom: -40px;
	color: #466789;
	font-weight: bold;
}
.process{
	background: #a9b4bb;
	padding: 40px;
	border-bottom: 1px solid #000;
}
#processDescription{
	height: 300px;
}
#processDescription div{
	background: #fff;
	max-height: 0;
	min-height: 0;
	overflow: hidden;
}
#processDescription div.active{
	display: block;
	max-height: 300px;
	min-height: auto;
	padding: 20px;
}
#processDescription div{
	min-height: 200px;
	display: none;
}
.blue-left{
	font-size: 120px;
	position: absolute;
	color: #466789;
	left: 8.333%;
	bottom: -40px;
	font-weight: bold;
}
.ill-container{	
	min-height: 600px;
	overflow: hidden;
	position: relative;
	background-size: cover;
  	background-image: url("/img/_84I1382-sh.jpg");
}
.ill-container.assesment{
	background-image: url("/img/_84I1126.jpg");
}
.ill-container.udvikling{
	background-image: url("/img/_84I1396-sh.jpg");
}
.section1 img{
	width: 300px;
}
.circle {
	border-radius:20px;
	margin: 0 auto;
    display: block;
    width: 30px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    height: 10px;
    font-weight: bold;
}
.circle:hover{
	font-size: 21px;
	font-weight: bold;
}
.circle.active{
	color: #fff;
	font-weight: bold;
}
.ill-container h1{
	font-size: 120px;
    position: absolute;
    right: 8.3333%;
    bottom: 0px;
    color: #466789;
    font-weight: bold;
}
div.centerImage{
	cursor: pointer;
	background-image: url("/img/center.jpg");
}
.assesment div{
	background-size: cover;
	margin-bottom: 50px;
}
.assesment div h2{
	text-align: center;
	margin: 200px auto;
	color:#000;
	background: #fff;
	opacity: 0.6;
}
.assesment div a:hover{
	text-decoration: none;
}
.assesment div h2:hover{
	text-decoration: none;
	color: #d5d5d5;
}
div.individualImage{
	cursor: pointer;
	background-image:url("/img/individual.jpg");
	margin-left: 5px;
}
#textSection{
	font-size: 22px;
	font-weight: 500;
	padding: 40px 0;
}
#textSection p{
	text-align:justify;
    text-justify:inter-word;
    text-align-last: center;
    padding: 5px 20px;
}
.blog-sidebar img{
	width: 100%;
}
.text-section{
	padding: 50px;
	border-top: 1px solid #d5d5d5;
	background: #FFF;
	margin-bottom: 50px;
}
.text-section h2 {
	color: #6699cc;
}
.cases .text-section h2{
	margin-top:100px;
}
.text-section p{
	font-size: 20px;
	font-family: open sans;

}
.text-section li{
	font-size: 20px;
	font-family: open sans;

}
footer{
	background: #f2f2f2;
}
footer address{
	padding: 20px;
	font-size: 20px;
	margin: 0 auto;
    width: 300px;
}
footer address a{
	color: blue;
}
.team{
    padding:75px 0;
}
h6.description{
	font-weight: bold;
	letter-spacing: 2px;
	color: #999;
	border-bottom: 1px solid rgba(0, 0, 0,0.1);
	padding-bottom: 5px;
}
.profile{
	margin-top: 25px;
}
.profile h1{
	font-weight: normal;
	font-size: 20px;
	margin:10px 0 0 0;
}
.profile h2{
	font-size: 14px;
	font-weight: lighter;
	margin-top: 5px;
}
.profile .img-box{
	opacity: 1;
	display: block;
	position: relative;
}
.profile .img-box img{
	max-width: 100%;
}
.profile .img-box:after{
	content:"";
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}
.img-box ul{
	position: absolute;
	z-index: 2;
	bottom: 50px;
	text-align: center;
	width: 100%;
	padding-left: 0px;
	height: 0px;
	margin:0px;
	opacity: 0;
}
.profile .img-box:after, .img-box ul, .img-box ul li{
	-webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.img-box ul i{
	font-size: 20px;
	letter-spacing: 10px;
}
.img-box ul li{
	width: 30px;
    height: 30px;
    text-align: center;
    margin: 2px;
    padding: 5px;
	display: inline-block;
}
.img-box a{
	color:#fff;
}
.img-box:hover:after{
	opacity: 1;
}
.img-box:hover ul{
	opacity: 1;
}
.img-box ul a{
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.img-box a:hover li{
	border-color: #fff;
	color: #6699cc;
}
a{
    color:#6699cc;
}
a:hover{
    text-decoration:none;
}
i.red{
    color:#BC0213;
}
#quickhitbox h4{
	color: #49859d;
	font-weight: bold;
	margin: 140px 20px;
	text-align: center;
	opacity: 0.7;
}
#quickhitbox h4:hover{
	opacity: 1;
}
#quickhitbox{
	margin-top: 160px;
}
#quickhitbox div{
	border: solid 1px #dcdcdc;
	    background: #f5f5f5;
}
.one{
	background-image: url("/img/_84I1357-sh.jpg");
	background-size: cover;
}
.two{
	background-image: url("/img/_84I1361-sh.jpg");
	background-size: cover;
}
.three{
	background-image: url("/img/_84I1238-sh.jpg");
	background-size: cover;
}
.four{
	background-image: url("/img/_84I1396-sh.jpg");
	background-size: cover;
}
.five{
	background-image: url("/img/_84I1382-sh.jpg");
	background-size: cover;
}
.map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
#floating-cloud{
	width: 800px;
	height: 300px;
	margin: 0 auto;
	position: relative;
	margin-top: 40px;
}
.floatinglink{
	position: absolute;
	background-image: url("/img/black_dot.png");
    background-repeat: no-repeat;
    padding-left: 40px;
    height: 22px;
    line-height: 22px;
    font-size: 22px;
    background-size: 50px;
    background-position: left center;
}
.floatinglink:hover{
	font-weight: bold;
	color: #548dc5;
}
.paralax{
	height: 400px;
	overflow: hidden;
}
.paralax img{
	position: absolute;
	width: 100%;
	z-index: 0;
}
.blog-post-title{
	margin-top: 50px;
}
@media  (max-width: 1300px) {
	#blueSection h4 {
    	width: 735px;
    }
   	#textSection p{
   		font-size: 18px;
   		width: 735px;
   		margin: 0 auto;
   	}
}
@media  (max-width: 1200px) {
    .title{
    	font-size: 60px;
    	margin: 0 auto;
    }
    .sectionFront{
		background-size: 130%;
	}
}
@media (max-width: 900px){
	.sectionFront{
		background-size: cover;
	}
}
@media  (max-width: 900px) {
    .title{
    	font-size: 40px;
    	margin: 0 auto;
    	right: initial;
    	position: relative;
    	text-align: center;
    }
	.AssetContainer{
		bottom: 40%;
		position: absolute;
		width: 100%;
	}
}
@media (max-width: 700px){
	 .blue-right{
		font-size: 80px;
	}
	.blue-left{
		font-size: 80px;
	}
	#blueSection h4 {
		width: 573px;
	}
}
